<!-- header.component.html -->
<header class="sticky top-0 z-50 bg-[#F5F6F7] shadow-sm">
  <div class="w-full">
    <div class="flex justify-around items-center h-20">
      <!-- Logo -->

      <div class="flex items-center">
        <img (click)="main_page()" class="h-15 w-30" src="assets/images/sap_logo.png" alt="Logo" />
        <!-- <span class="ml-3 font-semibold text-lg">Learning</span> -->
        <!-- Nav Links -->
        <nav class="hidden md:flex space-x-8">
          <!-- SAP Functionals -->
          <div class="relative group" *ngFor="let category of categories">
            <a routerLink="/dashboard"
              class="text-[20px] font-sans text-[#354A5F] cursor-pointer hover:text-blue-600 flex items-center">
              {{category.name}}
            </a>

            <!-- Dropdown -->
            <div  
              class="absolute top-full left-0 mt-2 w-56 bg-white shadow-lg rounded-lg p-2 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
              <a routerLink="/dashboard/fi" *ngFor="let subCategory of category.subCategories"  (click)="navigateToBlogListPage(subCategory)"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">{{subCategory.name}}</a>
              <!-- <a routerLink="/dashboard/mm"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Material Management</a>
              <a routerLink="/dashboard/sd"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Sales & Distribution</a>
              <a routerLink="/dashboard/pp"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Production Planning</a>
              <a routerLink="/dashboard/hr"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Human Resource</a>
            -->
              </div>
          </div>

          <!-- <div class="relative group">
            <a routerLink="/stocks"
              class="text-[20px] font-sans text-[#354A5F] cursor-pointer hover:text-blue-600 flex items-center">
              SAP Technical
            </a>

            <div
              class="absolute top-full left-0 mt-2 w-64 bg-white shadow-lg rounded-lg p-2 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
              <a routerLink="/stocks/abap"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP ABAP</a>
              <a routerLink="/stocks/fiori"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Fiori</a>
              <a routerLink="/stocks/cloud"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Public Cloud</a>
              <a routerLink="/stocks/basis"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP BASIS</a>
              <a routerLink="/stocks/bas" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP
                BAS (Business App Studio)</a>
              <a routerLink="/stocks/cpi" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP
                CPI</a>
              <a routerLink="/stocks/btp" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP
                BTP</a>
            </div>
          </div>

          <div class="relative group">
            <a routerLink="/portfolio"
              class="text-[20px] font-sans text-[#354A5F] cursor-pointer hover:text-blue-600 flex items-center">
              SAP Latest Technology
            </a>

            <div
              class="absolute top-full left-0 mt-2 w-64 bg-white shadow-lg rounded-lg p-2 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
              <a routerLink="/portfolio/rap"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP RAP</a>
              <a routerLink="/portfolio/ariba"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Ariba</a>
              <a routerLink="/portfolio/successfactors"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SuccessFactors</a>
              <a routerLink="/portfolio/joule"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">SAP Joule</a>
            </div>
          </div> -->
        </nav>




      </div>


      <!-- Right Actions -->
      <div class="flex items-center space-x-4">
        <span class="text-[20px] font-sans text-[#354A5F] cursor-pointer hover:text-blue-600">Explore SAP</span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          class="w-6 h-6 text-[#354A5F] cursor-pointer hover:text-blue-600">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z" />
        </svg>

        <div class="relative group hidden md:block">
          <button>
            <i class="fa-regular fa-user text-2xl text-[#354A5F] cursor-pointer hover:text-blue-600"></i>
          </button>

          <div
            class="absolute top-full right-0 mt-2 w-52 bg-white shadow-lg rounded-lg p-4 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
            <!-- Login Button -->
 <a (click)="login()"
   class="block w-full text-center px-4 py-2 mb-2 text-sm font-medium text-white  bg-blue-600 rounded-md hover:bg-blue-700 transition">
   Login
</a>
            <!-- Register Button -->
            <a (click)="register()" 
              class="block w-full text-center px-4 py-2 text-sm font-medium text-[#354A5F] border border-[#354A5F] rounded-md hover:bg-gray-100 transition">
              Register
            </a>
          </div>
        </div>
        <!-- User Icon (only mobile) -->
        <button class="md:hidden focus:outline-none" (click)="isUserMenuOpen = !isUserMenuOpen; isMenuOpen = false">
          <i class="fa-regular fa-user text-2xl   text-[#354A5F] cursor-pointer hover:text-blue-600 "></i>
        </button>
        <!-- Hamburger (only mobile) -->
        <button class="md:hidden focus:outline-none" (click)="isMenuOpen = !isMenuOpen;isUserMenuOpen = false">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-[#354A5F]" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>


  <!-- Mobile Menu Drawer -->
  <div *ngIf="isMenuOpen" class="md:hidden absolute top-20 left-0 w-full bg-white shadow-lg z-50">
  <ul class="flex flex-col divide-y divide-gray-200">
    <!-- Loop categories -->
    <li *ngFor="let cat of categories">
      <button (click)="toggleSubmenu(cat._id)"
        class="w-full text-left px-4 py-3 text-[#354A5F] font-semibold flex justify-between items-center">
        {{ cat.name }}
        <span [class.rotate-180]="openSubmenu===cat._id" class="transition-transform">&#9662;</span>
      </button>

      <!-- Subcategories -->
      <ul *ngIf="openSubmenu===cat._id" class="bg-gray-50">
        <li *ngFor="let sub of cat.subCategories">
       <a  (click)="navigateToBlogListPage(sub)" class="block px-6 py-2 text-[#4B5563]">
  {{ sub.name }}
</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

  <div *ngIf="isUserMenuOpen" class="md:hidden absolute top-20 left-0 w-full bg-white shadow-lg z-50">
    <ul class="flex flex-col divide-y divide-gray-200">
      <!-- Parent Item -->
      <li>
       <a  (click)="login()"  
   class="w-full text-left px-4 py-3 text-[#354A5F] font-semibold flex justify-between items-center">
  Login
</a>

      </li>

      <li>
      <a  (click)="register()"  
   class="w-full text-left px-4 py-3 text-[#354A5F] font-semibold flex justify-between items-center">
  Register
</a>
      </li>
    </ul>
  </div>
</header>